@page "/personalCardPage"

<PageTitle>Personal page</PageTitle>

@using NewBlazorTest.Data
@using NewBlazorTest.Services
@using Microsoft.AspNetCore.Components.Web
@inject IJSRuntime JS
@inject ILocalStorageService storageService
@inject MongoDBConnection mongoConnection
@inject NavigationManager nManager

<h1>Personal card</h1>

@if (mongoConnection.currentUser is not null)
{
    <div class="card" style="width : 250px">
        <div class="card-body">
                <p>First name: @mongoConnection.currentUser.FirstName</p>
                <p>Last name: @mongoConnection.currentUser.LastName</p>
                <p>Email: @mongoConnection.currentUser.Email</p>
        </div>
        <button @onclick="() => LoginOut()">Login out</button>
    </div>   
}

@code {
    private void LoginOut()
    {
        mongoConnection.currentUser = null;
        storageService.RemoveAsync("Authorization");
        nManager.NavigateTo("/");
    }
}
