@page "/photoPage"
@using MongoDB.Bson
@using MongoDB.Bson.Serialization
@using MongoDB.Driver.GridFS
@using System.Drawing

@inject FileSystemService fileSysServ

<h3>PhotoPage</h3>

<button type="button" @onclick="fileSysServ.UploadImageToDb">Upload photo</button>

<table class="table">
        <thead>
            <tr>
                <th>File name</th>
                <th>Button</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var image in images)
            {
            <tr>
                <td><a href="/images/@image" download="@image">@image</a></td>
                <td><button type="button" @onclick="() => ShowImage(image)" >Show</button></td>
            </tr>
            }
        </tbody>
</table>
<img src="/images/@selectedImage" width="300" height="300" alt="Currently no selected image">

@code {
    string selectedImage;
    List<string> images;

    protected override void OnInitialized()
    {
        fileSysServ.GetImagesToProjectFolder();
        images = fileSysServ.FindFiles();
    }
    void ShowImage(string image)
    {
        this.selectedImage = image;
    }
}
