@page "/photoPage"
@using MongoDB.Bson
@using MongoDB.Bson.Serialization
@using MongoDB.Driver.GridFS
@using System.Drawing

@inject FileSystemService fileSysServ

<h3>PhotoPage</h3>

<InputFile OnChange="@LoadFiles" multiple  />

<table class="table">
        <thead>
            <tr>
                <th>File name</th>
                <th>Button</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var image in images)
            {
            <tr>
                <td><a href="/images/@image" download="@image">@image</a></td>
                <td><button type="button" @onclick="() => selectedImage=image" >Show</button></td>
            </tr>
            }
        </tbody>
</table>
<img src="/images/@selectedImage" width="300" height="300" alt="Currently no selected image">

@code {
    string selectedImage;
    List<string> images;
    List<IBrowserFile> _loadedFiles = new();

    protected override void OnInitialized()
    {
        fileSysServ.GetImagesToProjectFolder();
        images = fileSysServ.FindFiles();
    }
    void ShowImage(string image)
    {
        this.selectedImage = image;
    }

    private async Task LoadFiles(InputFileChangeEventArgs e)
    {
        _loadedFiles.Clear();

        foreach (var file in e.GetMultipleFiles(e.FileCount))
        {
            _loadedFiles.Add(file);
            Stream stream = file.OpenReadStream();
            await fileSysServ.UploadImageToDb(stream, file.Name);
            stream.Dispose();
        }
    }
}
